:root {
   --primary: #196b52 !important;
   --onprimary: #ffffff !important;
   --secondary: #4c6359 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #3f6375 !important;
   --ontertiary: #ffffff !important;
   --primaryc: #a5f2d3 !important;
   --onprimaryc: #00513c !important;
   --secondaryc: #cee9db !important;
   --onsecondaryc: #354c42 !important;
   --tertiaryc: #c2e8fd !important;
   --ontertiaryc: #264b5c !important;
   --error: #ffb4ab !important;
   --onerror: #690005 !important;
   --errorc: #93000a !important;
   --onerrorc: #ffdad6 !important;
   --surfacedim: #d5dbd7 !important;
   --surface: #f5fbf6 !important;
   --surfacebright: #f5fbf6 !important;
   --sclowest: #ffffff !important;
   --sclow: #eff5f0 !important;
   --sc: #e9efea !important;
   --schigh: #e4eae5 !important;
   --schighest: #dee4df !important;
   --onsurface: #171d1a !important;
   --onsurfacevar: #404944 !important;
   --outline: #707974 !important;
   --outlinevar: #bfc9c2 !important;
}
