:root {
   --primary: #415f91 !important;
   --onprimary: #ffffff !important;
   --secondary: #565f71 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #705575 !important;
   --ontertiary: #ffffff !important;
   --primaryc: #d6e3ff !important;
   --onprimaryc: #001b3e !important;
   --secondaryc: #dae2f9 !important;
   --onsecondaryc: #131c2b !important;
   --tertiaryc: #fad8fd !important;
   --ontertiaryc: #28132e !important;
   --error: #ba1a1a !important;
   --onerror: #ffffff !important;
   --errorc: #ffdad6 !important;
   --onerrorc: #410002 !important;
   --surfacedim: #d9d9e0 !important;
   --surface: #f9f9ff !important;
   --surfacebright: #f9f9ff !important;
   --sclowest: #ffffff !important;
   --sclow: #ededf4 !important;
   --sc: #ededf4 !important;
   --schigh: #e7e8ee !important;
   --schighest: #e2e2e9 !important;
   --onsurface: #191c20 !important;
   --onsurfacevar: #44474e !important;
   --outline: #74777f !important;
   --outlinevar: #c4c6d0 !important;
}
