:root {
   --primary: #6e1317 !important;
   --onprimary: #ffffff !important;
   --secondary: #964644 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #452800 !important;
   --ontertiary: #ffffff !important;
   --primaryc: #ff6060 !important;
   --onprimaryc: #300006 !important;
   --secondaryc: #ff9b96 !important;
   --onsecondaryc: #78302f !important;
   --tertiaryc: #d48400 !important;
   --ontertiaryc: #261600 !important;
   --error: #ba1a1a !important;
   --onerror: #ffffff !important;
   --errorc: #ffdad6 !important;
   --onerrorc: #93000a !important;
   --surfacedim: #eed4d2 !important;
   --surface: #fff8f7 !important;
   --surfacebright: #fff8f7 !important;
   --sclowest: #ffffff !important;
   --sclow: #fff0ef !important;
   --sc: #ffe9e7 !important;
   --schigh: #fde2e0 !important;
   --schighest: #f7dddb !important;
   --onsurface: #261817 !important;
   --onsurfacevar: #59413f !important;
   --outline: #8d706e !important;
   --outlinevar: #e1bebc !important;
}
