:root {
   --primary: #bb001e !important;
   --onprimary: #ffffff !important;
   --secondary: #785654 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #8b4c00 !important;
   --ontertiary: #ffffff !important;
   --primaryc: #ea0028 !important;
   --onprimaryc: #fffbff !important;
   --secondaryc: #ffd2cf !important;
   --onsecondaryc: #7a5856 !important;
   --tertiaryc: #af6100 !important;
   --ontertiaryc: #fffbff !important;
   --error: #ba1a1a !important;
   --onerror: #ffffff !important;
   --errorc: #ffdad6 !important;
   --onerrorc: #410002 !important;
   --surfacedim: #f6d2cf !important;
   --surface: #fff8f7 !important;
   --surfacebright: #fff8f7 !important;
   --sclowest: #ffffff !important;
   --sclow: #fff0ef !important;
   --sc: #ffe9e7 !important;
   --schigh: #ffe1df !important;
   --schighest: #ffdad7 !important;
   --onsurface: #2a1615 !important;
   --onsurfacevar: #5f3e3c !important;
   --outline: #946e6b !important;
   --outlinevar: #e9bcb8 !important;
}
