:root {
   --primary: #8f4c38 !important;
   --onprimary: #ffffff !important;
   --secondary: #77574e !important;
   --onsecondary: #ffffff !important;
   --tertiary: #6c5d2f !important;
   --ontertiary: #ffffff !important;
   --primaryc: #ffdbd1 !important;
   --onprimaryc: #3a0b01 !important;
   --secondaryc: #ffdbd1 !important;
   --onsecondaryc: #2c150f !important;
   --tertiaryc: #f5e1a7 !important;
   --ontertiaryc: #231b00 !important;
   --error: #ba1a1a !important;
   --onerror: #ffffff !important;
   --errorc: #ffdad6 !important;
   --onerrorc: #410002 !important;
   --surfacedim: #e8d6d2 !important;
   --surface: #fff8f6 !important;
   --surfacebright: #fff8f6 !important;
   --sclowest: #ffffff !important;
   --sclow: #fff1ed !important;
   --sc: #fceae5 !important;
   --schigh: #f7e4e0 !important;
   --schighest: #f1dfda !important;
   --onsurface: #231917 !important;
   --onsurfacevar: #53433f !important;
   --outline: #85736e !important;
   --outlinevar: #d8c2bc !important;
}
