:root {
   --primary: #5d5f5f !important;
   --onprimary: #ffffff !important;
   --secondary: #5e5e5e !important;
   --onsecondary: #ffffff !important;
   --tertiary: #5d5f5f !important;
   --ontertiary: #ffffff !important;
   --primaryc: #ffffff !important;
   --onprimaryc: #747676 !important;
   --secondaryc: #e4e2e2 !important;
   --onsecondaryc: #646464 !important;
   --tertiaryc: #ffffff !important;
   --ontertiaryc: #747676 !important;
   --error: #ba1a1a !important;
   --onerror: #ffffff !important;
   --errorc: #ffdad6 !important;
   --onerrorc: #93000a !important;
   --surfacedim: #ddd9d9 !important;
   --surface: #fcf8f8 !important;
   --surfacebright: #fcf8f8 !important;
   --sclowest: #ffffff !important;
   --sclow: #f6f3f2 !important;
   --sc: #f1edec !important;
   --schigh: #ebe7e7 !important;
   --schighest: #e5e2e1 !important;
   --onsurface: #1c1b1b !important;
   --onsurfacevar: #444748 !important;
   --outline: #747878 !important;
   --outlinevar: #c4c7c8 !important;
}
