:root {
   --primary: #845415 !important;
   --onprimary: #ffffff !important;
   --secondary: #725a41 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #56633b !important;
   --ontertiary: #ffffff !important;
   --primaryc: #ffddbb !important;
   --onprimaryc: #673d00 !important;
   --secondaryc: #fdddbd !important;
   --onsecondaryc: #58432c !important;
   --tertiaryc: #d9e9b6 !important;
   --ontertiaryc: #3f4b26 !important;
   --error: #ffb4ab !important;
   --onerror: #690005 !important;
   --errorc: #93000a !important;
   --onerrorc: #ffdad6 !important;
   --surfacedim: #e5d8cc !important;
   --surface: #fff8f4 !important;
   --surfacebright: #fff8f4 !important;
   --sclowest: ##ffffff !important;
   --sclow: #fff1e6 !important;
   --sc: #faebe0 !important;
   --schigh: #f4e6da !important;
   --schighest: #eee0d5 !important;
   --onsurface: #211a14 !important;
   --onsurfacevar: #50453a !important;
   --outline: #827568 !important;
   --outlinevar: #d4c4b5 !important;
}
