:root {
   --primary: #6d5e0f !important;
   --onprimary: #ffffff !important;
   --secondary: #665e40 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #43664e !important;
   --ontertiary: #ffffff !important;
   --primaryc: #f8e287 !important;
   --onprimaryc: #221b00 !important;
   --secondaryc: #eee2bc !important;
   --onsecondaryc: #211b04 !important;
   --tertiaryc: #c5ecce !important;
   --ontertiaryc: #00210f !important;
   --error: #ba1a1a !important;
   --onerror: #ffffff !important;
   --errorc: #ffdad6 !important;
   --onerrorc: #410002 !important;
   --surfacedim: #e0d9cc !important;
   --surface: #fff9ee !important;
   --surfacebright: #fff9ee !important;
   --sclowest: #ffffff !important;
   --sclow: #faf3e5 !important;
   --sc: #f4eddf !important;
   --schigh: #eee8da !important;
   --schighest: #e8e2d4 !important;
   --onsurface: #1e1b13 !important;
   --onsurfacevar: #4b4739 !important;
   --outline: #7c7767 !important;
   --outlinevar: #cdc6b4 !important;
}
