:root {
   --primary: #4c662b !important;
   --onprimary: #ffffff !important;
   --secondary: #586249 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #386663 !important;
   --ontertiary: #ffffff !important;
   --primaryc: #cdeda3 !important;
   --onprimaryc: #102000 !important;
   --secondaryc: #dce7c8 !important;
   --onsecondaryc: #151e0b !important;
   --tertiaryc: #bcece7 !important;
   --ontertiaryc: #00201e !important;
   --error: #ba1a1a !important;
   --onerror: #ffffff !important;
   --errorc: #ffdad6 !important;
   --onerrorc: #410002 !important;
   --surfacedim: #dadbd0 !important;
   --surface: #f9faef !important;
   --surfacebright: #f9faef !important;
   --sclowest: #ffffff !important;
   --sclow: #f3f4e9 !important;
   --sc: #eeefe3 !important;
   --schigh: #e8e9de !important;
   --schighest: #e2e3d8 !important;
   --onsurface: #1a1c16 !important;
   --onsurfacevar: #44483d !important;
   --outline: #75796c !important;
   --outlinevar: #c5c8ba !important;
}
