:root {
   --primary: #874b6d !important;
   --onprimary: #ffffff !important;
   --secondary: #715764 !important;
   --onsecondary: #ffffff !important;
   --tertiary: #80543c !important;
   --ontertiary: #ffffff !important;
   --primaryc: #ffd8ea !important;
   --onprimaryc: #6c3455 !important;
   --secondaryc: #fcd9e9 !important;
   --onsecondaryc: #58404c !important;
   --tertiaryc: #ffdbca !important;
   --ontertiaryc: #653d26 !important;
   --error: #ffb4ab !important;
   --onerror: #690005 !important;
   --errorc: #93000a !important;
   --onerrorc: #ffdad6 !important;
   --surfacedim: #e5d6db !important;
   --surface: #fff8f8 !important;
   --surfacebright: #fff8f8 !important;
   --sclowest: #ffffff !important;
   --sclow: #fff0f5 !important;
   --sc: #f9eaef !important;
   --schigh: #f3e4e9 !important;
   --schighest: #eddfe3 !important;
   --onsurface: #211a1d !important;
   --onsurfacevar: #504349 !important;
   --outline: #827379 !important;
   --outlinevar: #d3c2c8 !important;
}
